table {
  border-collapse: collapse;
  border-top: 1px solid #dddddd;
  width: 100%;
  margin-top: 40px;
}

tr {
  border-bottom: 1px solid #dddddd;
  height: 60px;
}

td {
  display: flex;
  justify-content: space-between;
}

.delete-item-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #E4264E;
  color: #FFFFFF;
  border: none;
  padding: 6px;
  font-size: 16px;
}

.task-undelined {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
}