table {
  border-collapse: collapse;
  border-top: 1px solid #dddddd;
  width: 100%;
  margin-top: 40px;
  font-size: 14px;
}

tr {
  border-bottom: 1px solid #dddddd;
}

td,
.checkbox-container {
  display: flex;
}

td {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.checkbox-container {
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.task-line {
  text-decoration: line-through;
}

.action-button,
.action-button:hover  {
  border: 1px solid #ef3555;
  color: #ef3555;
}
