.select-task-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.select-label {
  padding-right: 10px;
}

select {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
