.select-task-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.select-label {
  padding-right: 10px;
  color: #000000;
}

select {
  font-family: "Lexend Deca", sans-serif;
}

@media(max-width: 800px) {
  .select-label {
    font-size: 14px;
  }

  .select select {
    height: 35px;
    font-size: 14px;
  }
}