.check-task-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.task-line {
  text-decoration: line-through;
}

.delete-item-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #E4264E;
  color: #FFFFFF;
  border: none;
  width: 56px;
  height: 26px;
  font-size: 12px;
}
