.todo {
  width: 100%;
  position: absolute;
  min-height: 1000px;
  height: 100%;
  background-color: white;
}

.todo-section {
  padding-top: 100px;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}